@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

@font-face {
  font-family: 'Midnight Flame Gothic';
  src: url('/MidnightFlameGothicDemo-1GWMM.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md transition-colors;
  }
  
  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700;
  }
}